<h1>Announce a Meeting</h1>

<%= form_for @announcement do |f| %>

<p>
	
<%= f.label :name %>

<%= f.text_field :name %>

</p>

<p>
	<%= f.label :startdatetime, "Date and Time" %>

	<%= f.datetime_select :startdatetime %>
</p>

<p>
	<%= f.submit %>
</p>

<% end %>