%h2 Mysore Ruby User Group

%h3 Upcoming Meetings

%p
  = link_to "Hands-on introduction to Ruby on Rails - Jun 13-14, 2013",
    "http://gathers.us/events/hands-on-introduction-to-ruby-on-rails"

%h3 Past meetings

%p
  = link_to "Mysore RUG June 2013 meeting #2 - Sat Jun 29",
    "http://gathers.us/events/mrug-june-meetup-807ff"

%p
  = link_to "Mysore RUG June 2013 meeting - Sat Jun 08",
    "http://gathers.us/events/mrug-june-meetup"

%p
  = link_to "Mysore RUG May 2013 meeting - Sat May 11",
    "http://gathers.us/events/mrug-summer-meetup"

%p
  = link_to "Open Hack Mysore Edition - Sat Apr 20",
    "http://gathers.us/events/open-hack-mysore-edition-apr-2013"

%p Mysore RUG April 2013 Meeting - Sat Apr 13</p>

%p
  = link_to "Learn ruby through RubyKoans - Sat Mar 23", "http://gathers.us/events/mysore-rug-learn-ruby-through-rubykoans"

<div style="border-width:2px; border-style:solid; width:810px;">
<div style="padding:5px;">
= link_to "First group meeting Saturday Mar 9th, 2013", "http://gathers.us/events/first-ever-mysore-ruby-user-group-meeting"
= image_tag("first_meetup.jpg", :padding => "5px", :size => "800x600", :alt => "Pic from the first meetup")

<br/>

</div>
</div>

%h3 Google Group

%p
  = link_to "Mysore Ruby User Group", "https://groups.google.com/group/mysore-rb"

%h3 Code for This Website

%p
  = link_to "Github Repository", "https://github.com/mysore-ruby/mysore-ruby"

%h3 Context, Purpose, and Results

%p
  = link_to "Context, Purpose, and Results", "http://dl.dropboxusercontent.com/u/3554509/vision_stmnt_mysore_ruby.pdf"
