<h2>Mysore Ruby User Group</h2>

<h3>Upcoming meetings</h3>
<p><%= link_to "Learn ruby through RubyKoans - Sat Mar 23", "http://gathers.us/events/mysore-rug-learn-ruby-through-rubykoans" %></p>
<p>Mysore RUG April 2013 Meeting - Sat Apr 13</p>
<h3>Past meetings</h3>
<%= image_tag("first_meetup.jpg", :size => "800x600",:alt => "Pic from the first meetup") %>
<p><%= link_to "First group meeting Saturday Mar 9th, 2013", "http://gathers.us/events/first-ever-mysore-ruby-user-group-meeting" %></p>
<br/>
<font size="4"><%= link_to "Google Group mailing list", "https://groups.google.com/group/mysore-rb" %></font>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<font size="2"><%= link_to "Code for the web-site at Github", "https://github.com/mysore-ruby/mysore-ruby" %></font>
